/* App.scss */
@import './variables';
@import './mixins';

body {
  font-family: $font-stack;
  background-color: $secondary-color;
}

.header {
  font-size: 2rem;
  text-align: center;
  background-color: $primary-color;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  
  a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}

footer {
  text-align: center;
  padding: 10px;
  background-color: $primary-color;
  color: #fff;
}
